!!!
%html
  %head
    %title Forum
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %body
      .container.text-center
        .jumbotron
          .row
            .col-xs-12.col-sm-offset-3.col-sm-6.col-lg-offset-3.col-lg-6
              = yield
